<head>    
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="{{description}}">
	<meta name="author" content="{{author}}">
	<meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="robots" content="noindex, nofollow" />  
	<meta name="theme-color" content="#00551B">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Bra Parking - APP">
	<link rel="manifest" href="/icon/manifest.json">
	<link href="/dist/stylesheet.min.css?v={{version}}" rel="stylesheet" type="text/css" />
	<link href="/dist/print.min.css?v={{version}}" rel="stylesheet"  type="text/css" media="print" />
	<link rel="icon" href="/icon/favicon.ico">
	<script type="text/javascript" src="/dist/library.min.js?v={{version}}"></script>
	<title>{{customer}} - {{title}}</title>
</head>