<table bgcolor="#FFFFFF" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
  <tr>
    <td background="http://www.brasolucoes.com/template/login-bg.jpg">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
          <tr>
            <td width="10">&nbsp;</td>
            <td align="center"><br /><img src="http://www.brasolucoes.com/template/logo-bra.png" width="250" border="0" style="display: block;"></td>
            <td width="10">&nbsp;</td>
          </tr>
          <tr>
            <td width="10">&nbsp;</td>
            <td align="center">
              <br /><br /><font size="5" face="'Helvetica Neue', Helvetica, Arial, sans-serif" color="#000000">{{ASSUNTO}}</font> <br /><br /><br />
            </td>      
            <td width="10">&nbsp;</td>
          </tr>
          <tr>
            <td width="10">&nbsp;</td>
            <td>
              <font face="'Helvetica Neue', Helvetica, Arial, sans-serif" size="3" color="#000000">
                Caro Sr/Srª {{USUARIO}}.<br />
                {{CONTEUDO}}
              </font>
            </td>
            <td width="10">&nbsp;</td>
          </tr> 
          <tr>
            <td width="10">&nbsp;</td>
            <td> 
                <br /><br /><br />
                <font face="'Helvetica Neue', Helvetica, Arial, sans-serif" size="3" color="#000000"> 
                  Atenciosamente,<br /> 
                  BRA Parking<br />
                </font>
             </td>
             <td width="10">&nbsp;</td>
          </tr>
          <tr>
            <td width="10">&nbsp;</td>
            <td> 
                <br /><br />
                <font face="'Helvetica Neue', Helvetica, Arial, sans-serif" size="2" color="#000000">
                  {{RAZAO_SOCIAL}}<br />
                  {{ENDERECO}}, N. {{NUMERO}}, {{BAIRRO}}, {{CIDADE}}, {{ESTADO}}<br />
                  CNPJ: {{CNPJ}} TEL.: {{TELEFONE1}} {{TELEFONE2}}<br /><br />
                </font>
            </td>
            <td width="10" style="line-height: 6px;">
              <br /><br />
              <a href="https://www.facebook.com/BRAParking/" target="_NEW"><img src="http://www.brasolucoes.com/template/facebook-logo.png" width="30" border="0"></a><br /><br />
              <a href="https://www.youtube.com/channel/UCzwuI-rd5mEY1FVoIohKg2Q" target="_NEW"><img src="http://www.brasolucoes.com/template/youtube-logo.png" width="30"  border="0"></a><br />
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td height="20" bgcolor="#044476" align="center" colspan="3">
      <font face="'Helvetica Neue', Helvetica, Arial, sans-serif" size="2" color="white"><a href="http://www.braparking.com.br" style="color: #ffffff; text-decoration: none;">www.braparking.com.br</a></font>
    </td>
  </tr>
</table>