{{>doctype}}
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 
		<script type="text/javascript" src="/dist/library.min.js?v={{version}}"></script>
		<script type="text/javascript" src="/dist/javascript.min.js?v={{version}}"></script>
		<script type="text/javascript" src='/javascript/totem.js'></script>    
		<link href="/stylesheet/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
		<link href="/stylesheet/totem.css" rel="stylesheet" type="text/css"  media="screen"/>
	</head>
	<body class="totem {{getEnv}}">{{{body}}}</body>
</html>
