<form action="/{{route}}" method="{{ternary isEdit 'put' 'post'}}" class="form-horizontal well" enctype="multipart/form-data">
    <fieldset>
        <legend>Dados gerais</legend>

        <div class="control-group">
            <label class="control-label">*Categoria</label>
            <div class="controls"><input type="text" name="categoria" value="{{result.categoria}}" class="uppercase input-grande" required></div>
        </div><!-- .control-group -->
        
        <div class="control-group">
            <label class="control-label">Vídeo</label>
            <div class="controls">
                <input type="file" name="arquivo">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Descrição</label>
            <div class="controls">
                <textarea name="descricao" class="ckeditor">{{result.descricao}}</textarea>
            </div>
        </div>
        
        {{>form-footer}}
        
        <input type="hidden" name="id" value="{{result.id}}">

    </fieldset>
</form>
