<center><b>COMPROVANTE DE PAGAMENTO DE MENSALIDADE</b></center>
<br />
<div  class="uppercase">
{{#pagamento}}
{{nome}}<br />
HORÁRIO DE PAGAMENTO: {{formataData data_pagamento}}<br />
TOTAL: R$ {{valor}}<br />
RECEBIDO ({{forma_pagamento}}): R$ {{valor_recebido}}<br />
{{#if troco}}
TROCO: R$ {{troco}}<br />
{{/if}}
CLIENTE: {{_cliente.nome}}<br />
OPERADOR: {{_caixa.usuario}}<br /><br />

{{#if nota_fiscal.rps}}
	{{#nota_fiscal}}
	NÚMERO DO RPS: {{rps}}<br />
	PIS: R$ {{total_pis}}<br />
	ISS: R$ {{total_iss}}<br />
	COFINS: R$ {{total_cofins}}<br />
	TOTAL DE IMPOSTO: R$ {{total_impostos}}<br />
	{{/nota_fiscal}}
{{/if}}
{{/pagamento}}
</div>
<br /><br />